#!/usr/bin/env bash
Makefile=$(cat Makefile) lib_bash=$(cat lib.bash) envsubst > $(basename $0 .template) <<'EOL'
# Demo Makefile automatically providing bash exports from a bash init file to make recipes  

## Prerequisites

- GNU make

- Bash

## Usage

Change to this directory and execute `make` 

--- 

`Makefile` :

```make
$Makefile
```

bash exports (`lib.bash`) : 

```shell
$lib_bash
```

EOL